.header {
  background-color: #0284c7;
  height: 50px;
  display: flex;
  position: relative;
}

.title {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.children {
  width: 70%;
  display: flex;
  justify-content: left;
  align-items: center;
}
