.container {

}

.label {
 width: 150px;
 display: flex;
 justify-content: left;
}

.inputContainer {

}

.input {
    border: 1px solid lightgray;
    border-radius: 0.3em;
    height: 40px;
    width: 300px;
}