.iconButton {
  width: 32px;
  height: 32px;
  padding: 0.2em;
}

.iconColorBlack {
  background-color: white;
  color: black;
}

.iconColorWhite {
  background-color: black;
  color: white;
}

.iconColorBlue {
  background-color: white;
  color: #0ea5e9;
}

.disabled{
  color: lightgray;
  opacity: 0.8;
}
